# 문자열(string) 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 문장의 맨 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [5]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [14]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.lower())
print(a.swapcase())

b = a.lower()
c = b.swapcase()
d = c.swapcase()
print('\n', b, c, d)

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

 hi! everyone, i'm kim HI! EVERYONE, I'M KIM hi! everyone, i'm kim

### `.join(iterable)`

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

In [26]:
# 아래에 코드를 작성하세요.
print(a)
print(" ".join(a)) # " "이 separator가 되어 join
print("\\".join(a))
print("\n".join(a), end=".")

hI! Everyone, I'm kim
h I !   E v e r y o n e ,   I ' m   k i m
h\I\!\ \E\v\e\r\y\o\n\e\,\ \I\'\m\ \k\i\m
h
I
!

E
v
e
r
y
o
n
e
,

I
'
m

k
i
m.

In [32]:
words = ['Hello', 'Ssafy']
greeting = ' '.join(words)
greeting[0:]

'Hello Ssafy'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [35]:
# 아래에 코드를 작성하세요.
words = ['Hello', 'Ssafy']
'yay!'.replace('a', '_')
words[0].replace('e', '_')

'H_llo'

In [38]:
'woooowooooo'.replace('o', '', 2) # 왼쪽에서 부터 처리

'woowooooo'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(`lstrip`) 오른쪽을 제거합니다(`rstrip`)

지정하지 않으면 공백을 제거합니다.

In [64]:
# 아래에 코드를 작성하세요.
a = '       hello ssafy     '.strip(' ')
b = '       hello ssafy     '.lstrip(' ')
c = '       hello ssafy     '.rstrip(' ')
print(f'''
{a} 
{b} 
{c}
''')

hello ssafy
hello ssafy
       hello ssafy

In [57]:
'hohohohihihi'.rstrip('hi')

'hohoho'

In [58]:
'hohohohihihi'.lstrip('hi')

'ohohohihihi'

In [60]:
'hohohohihihi'.strip('hio')

''

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

- string만 가능하다

In [65]:
# 아래에 코드를 작성하세요.
'apple'.find('l')

3

In [67]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

- int, string 모두 가능하다

In [69]:
# 아래에 코드를 작성하세요.
'apple'.index('f')

ValueError: substring not found

In [70]:
'apple'.index('l')

3

In [73]:
a = [1, 2, 3]
a.index(max(a))

2

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [74]:
# 아래에 코드를 작성하세요.
'a_b_c'.split('_')

['a', 'b', 'c']

In [85]:
words = input().split()
print(words)

wor wor
['wor', 'wor']

In [87]:
words = tuple(input().split())
print(words)

words1, words2 = tuple(input().split())
print(words1, words2)

wor wor
('wor', 'wor')
wor wor
wor wor

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

.isdecimal() only decimal number

.isdigit() only digit

.isnumeric() 로마넘버, 한자숫자 etc

In [88]:
'hi'.isalpha() # all alphabet? or not?

True

In [90]:
'123'.isdecimal()

True

In [91]:
'123'.isdigit()

True

In [92]:
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [1]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

In [2]:
# 값을 추가해봅시다.
caffe.append('jucy')
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'jucy']

In [3]:
# 어렵게 넣어보도록 해봅시다.
# +

# 마지막 index자리 +1자리에 추가

In [2]:

# 수정
caffe = ['starbucks', 'tomntoms', 'hollys']

for i in range(len(caffe)):
    n = input()
    i = 1
    try:
        if caffe[i] not in caffe:
            print('중복이 없습니다.')
            
            caffe.append(n)
        else:
            i += 1
        
    except:
        print(caffe)

sw
sw
sw

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [1]:
# 앞서 만든 리스트에 추가해봅시다.
cafes = ['빽다방']
cafes.extend(['starbucks', 'tomntoms', 'hollys', 'jucy'])
print(cafes)

['빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy']

In [2]:
# 앞서 배운 list concatenate와 동일합니다.
cafes += ['위메프카페']

In [3]:
# append와 비교해봅시다.
cafes.append(['coffeegrunaru'])
print(cafes)
cafes.extend('투썸플레이스') # 각각 item을 추가
print(cafes)

['빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy', '위메프카페', ['coffeegrunaru']]
['빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy', '위메프카페', ['coffeegrunaru'], '투', '썸', '플', '레', '이', '스']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [4]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
cafes.insert(0, 'hi')
print(cafes)

['hi', '빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy', '위메프카페', ['coffeegrunaru'], '투', '썸', '플', '레', '이', '스']

In [5]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
cafes.insert(len(cafes), 'bye') # 마지막 '끝' 은 -1이 아니라 len으로 처리하여 index확인 후 추가 한다.
print(cafes)

['hi', '빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy', '위메프카페', ['coffeegrunaru'], '투', '썸', '플', '레', '이', '스', 'bye']

In [11]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafes.insert(len(cafes) + 100, '!')
print(cafes)

['hi', '빽다방', 'starbucks', 'tomntoms', 'hollys', 'jucy', '위메프카페', ['coffeegrunaru'], '투', '썸', '플', '레', '이', '스', 'bye', '!', '!', '!', '!', '!', '!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [13]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

numbers.remove(3)
print(numbers)

[1, 2, 3, 1, 2]
[1, 2, 1, 2]

In [14]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 1, 2]

In [15]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 2]

In [16]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [2]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [3]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
result = numbers.pop(0)
print(result)
print(numbers)

1
[2, 3, 4, 5, 6]

In [4]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(result)

print(numbers)
deleted_value = numbers.pop()
print(f'{deleted_value}가 삭제되어 {numbers}가 되었습니다.')

1
[2, 3, 4, 5, 6]
6가 삭제되어 [2, 3, 4, 5]가 되었습니다.

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [5]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
numbers.index(3)

2

In [7]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [16]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [24]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
numbers = [1, 2, 5, 1, 5, 1]
target = 1
for i in range(numbers.count(target)): # target이 있는 갯수 만큼만 돈다
    numbers.remove(target) # 1을 세번을 순회하면서 지운다
print(numbers)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [26]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[40, 35, 1, 32, 33, 5]

In [29]:
# sort를 사용해봅시다.
print(sorted(lotto)) # 함수 자체가 정렬된 새로운 리스트 반환
print(lotto) # 원본은 유지된다.

[1, 5, 32, 33, 35, 40]
[40, 35, 1, 32, 33, 5]

In [31]:
print(lotto.sort()) # None을 반환하지만 내부에서 정렬된 새로운 리스트를 반환
print(lotto) # 원본이 변경된다.

None
[1, 5, 32, 33, 35, 40]

In [33]:
print(lotto.sort(reverse=True)) # option으로 거꾸로 정렬
print(lotto)

None
[40, 35, 33, 32, 5, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [1]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [2]:
print(list(reversed(classroom))) # list로 감싸줘야 한다. 원본은 유지된다.
print(classroom)

['Justin', 'David', 'Tom']
['Tom', 'David', 'Justin']

In [3]:
print(classroom.reverse())
print(classroom)

None
['Justin', 'David', 'Tom']

## 복사

In [6]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [7]:
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [9]:
# copied_list의 값을 바꾸고 original_list를 출력해봅시다.
copied_list[0] = 5
print(original_list)

[5, 2, 3]

In [11]:
# id 값을 확안해봅시다. 주소값, id값이 같음
print(id(copied_list), id(original_list))

# 모든 객체는 특정 메모리에 저장되고, 위 변수에 저장된 값들은 동일한 메모리를 바라보고 있다는 뜻이다.

2159449745352 2159449745352

In [15]:
# 숫자를 확인해봅시다.
a = 1004
b = a # b == 1004
b = 300 # b == 1004
print(id(a), id(b))

# int는 list와 다르게 동일한 메모리를 바라보고 있지 않다.

2159451519696 2159451517456

In [23]:
# 딕셔너리도 확인해봅시다.
lunch = {
    '짜장면': '02',
    '차돌': '03'
}

dinner = lunch
dinner['짜장면'] = '04'
print(lunch)
print(dinner)
print(id(lunch), id(dinner))

# 모든 객체는 특정 메모리에 저장되고, 위 변수에 저장된 값들은 동일한 메모리를 바라보고 있다는 뜻이다.

# reference타입들의 경우 주소값을 기준으로 copy를 하기때문에 이러한 경우가 생기는 것이다.

{'짜장면': '04', '차돌': '03'}
{'짜장면': '04', '차돌': '03'}
2159450426488 2159450426488

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과
* 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [28]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = a[:] # slicing을 통해서 새로운 주소값을 생성하여 copy
b[0] = 5
print(b)
print(a)

[5, 2, 3]
[1, 2, 3]

In [30]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = list(a) # list를 선언하여 새로운 주소값을 생성하여 copy
b[0] = 5
print(b)
print(a)

[5, 2, 3]
[1, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [44]:
# 2차원 배열을 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 5 # 2차원 배열의 경우 slicing을 통해서 해도 바뀌지 않는다. 
print(a) # 즉, 겉에만 copy되었고, 리스트안의 리스트는 같은 객체라고 인식하고 있는것.

[1, 2, [5, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, **깊은 복사(deep copy)**를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [43]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a) # copy.deepcopy()을 통해 중첩된 상황에서 새로운 주소값을 생성
b[2][0] = 5
print(a)

[1, 2, [1, 2]]

- dictionary에도 적용된다. 이처럼 reference 타입들은 이런식으로 copy.deepcopy()를 이용해서 활용해야 한다.

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [48]:
# clear를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [57]:
numbers = range(1, 11)

In [59]:
# 기존의방법
cubic_list = []
for i in numbers:
    cubic_list.append(i ** 3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [62]:
# List Comprehension

cubic_list = [number ** 3 for number in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [64]:
[cubic_list for number in numbers]

[[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
numbers = range(1, 11)

In [66]:
# 기존의방법
even_list = []
for number in numbers:
    if number % 2 == 0:
        even_list.append(number)
        
print(even_list)

[2, 4, 6, 8, 10]

In [70]:
# List Comprehension
even_list = [number for number in numbers if number % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [73]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [77]:
# 반복문을 활용하여 만들어주세요.
pairs = []
for girl in girls:
    for boy in boys:
        pairs.append((boy, girl))
    
print(pairs)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [80]:
# List comprehension을 활용하여 만들어주세요.
pairs = [(girl, boy) for girl in girls for boy in boys]
print(pairs)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [81]:
# 반복문을 활용하여 만들어주세요.
result = []
for x in range(1, 50):
    for y in range(x, 50): # y는 무조건 x 보다 크다
        for z in range(y, 50):
            if x ** 2 + y ** 2 == z ** 2:
                result.append((x, y, z))
                
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [83]:
# List comprehension을 활용하여 만들어주세요.

result = [(x, y, z) for x in range(1, 50) for y in range(x, 50) for z in range(y, 50) if x ** 2 + y ** 2 == z ** 2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [123]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
words_list = list(words)
print(words_list)
for i in range(len(words)):
    for di in ['a', 'e', 'i', 'o', 'u']:
        if di in words_list:
            words_list.remove(di)
print(''.join(words_list))



#list에 포함되지 않으면 list에 append한다. list comprehension의 목표는 list로 만드는 것이다. 그래서 대괄호 자체가 append()로서 작동한다.
result = [di for di in words_list if di not in ['a', 'e', 'i', 'o', 'u']]
print(result)
print(''.join(result))

['L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 't', 'o', 'o', ' ', 's', 'h', 'o', 'r', 't', ',', ' ', 'y', 'o', 'u', ' ', 'n', 'e', 'e', 'd', ' ', 'p', 'y', 't', 'h', 'o', 'n', '!']
Lf s t shrt, y nd pythn!
['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']
Lf s t shrt, y nd pythn!

In [126]:
words = 'Life is too short, you need python!'
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['L', 'f', ' ', 's', ' ', 't', ' ', 's', 'h', 'r', 't', ',', ' ', 'y', ' ', 'n', 'd', ' ', 'p', 'y', 't', 'h', 'n', '!']
Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [8]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [9]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon', '메론')

'메론'

In [10]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('apple')
print(my_dict)

{'banana': '바나나'}

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [18]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [19]:
my_dict.update(apple='사과아') #있는 값은 갱신된다
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론'}

In [17]:
my_dict.update(orange='오렌지') #없는 값은 추가가 된다.
print(my_dict)

{'apple': '사과아', 'banana': '바나나', 'melon': '멜론', 'orange': '오렌지'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [20]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [23]:
print(my_dict.get('pineapple')) # default value는 None이다.

None

In [25]:
if my_dict.get('pineapple') != None: # None이 아니라면
    print(my_dict.get('pineapple')) # 가져오고
else:
    print('파인애플이 없습니다.') # None이라면 print()를 출력

파인애플이 없습니다.

In [21]:
my_dict['apple']

'사과'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [27]:
# dictionary comprehension
cube = {x: x ** 3 for x in range(1, 8)}
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343}

### dictionary comprehension 사용해보기

In [29]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [35]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
high_dusts = {x: y for x, y in dusts.items() if y > 80}
print(high_dusts)

{'대전': 82, '중국': 200}

In [39]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
low_dusts = {key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}
print(low_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [52]:
# elif 도 사용할 수 있습니다.
elif_low_dusts = {
    key: 
    '나쁨' if value > 80 
    else # 80보다 크지 않으면 하기 라인 선택
    '보통' if value > 30 else '좋음' 
    for key, value in dusts.items() # 1st
}
print(elif_low_dusts)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '나쁨'}

# 세트 메소드 활용

- 중복을 허락하지 않는다
- 순서가 없다

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [58]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
print(fruits.add('메론'))
print(fruits)

None
{'수박', '메론', '사과', '바나나'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [59]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update({'토마토', '토마토', '딸기'}, {'포도', '레몬'})
print(fruits)

{'포도', '딸기', '수박', '토마토', '레몬', '사과', '바나나'}

In [61]:
fruits.update('파인애플')
print(fruits) # update는 iterable을 받아서 string은 하나의 iterable이기때문에 나눠져서 update된다 그래서 중괄호 필요

{'애', '플', '포도', '파', '바나나', '딸기', '인', '수박', '레몬', '사과', '토마토'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [62]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
print(fruits)

{'수박', '바나나'}

In [63]:
fruits.remove('사과')
print(fruits)

KeyError: '사과'

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [66]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}

fruits.discard('사과')
print(fruits)

fruits.discard('사과')
print(fruits)

{'수박', '바나나'}
{'수박', '바나나'}

### `.pop()`

임의의 원소를 제거해 반환합니다.

In [68]:
# pop을 사용해봅시다.
fruits = {"사과", "바나나", "수박", "아보카도"}
print(fruits.pop())
print(fruits) #set은 순서가 없는 자료 구조 이므로 임의로 제거된다.

수박
{'아보카도', '사과', '바나나'}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [71]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

chars = list(map(str, numbers))
print(chars)

['1', '2', '3']

In [72]:
# list comprehension
chars = [str(number) for number in numbers]
print(chars)

['1', '2', '3']

In [74]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

chars = list(map(int, chars))
print(chars)

[1, 2, 3]

In [75]:
# list comprehension

chars = [int(char) for char in chars]
print(chars)

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [76]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

numbers = [1,2,3,4,5]
list(map(cube, numbers))

[1, 8, 27, 64, 125]

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [79]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

zip_ppl = zip(girls, boys)
print(list(zip_ppl))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [81]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

dict_ppl = {girl: boy for girl in girls for boy in boys}
print(dict_ppl)

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [84]:
dict_ppl = {girl: boy for girl, boy in zip(girls, boys)}
print(dict_ppl)

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

* 아래와 같이 사용가능하다.

In [85]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [86]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [88]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue='0'))

[(1, '1'), (2, '2'), (3, '0')]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
filter(isint, list_)
# 짝수인지 판단하는 함수를 작성해봅시다.

In [97]:
def even(n):
    return not n%2 # 0은 False 값

even(4)
even(3)

numbers = [1, 2, 3, 4, 5]
print(list(filter(even, numbers)))

[2, 4]

In [98]:
# 다음의 list comprehension과 동일하다.

list_numbers = [number for number in numbers if even(number)]
print(list_numbers)

[2, 4]